<button class="cities__city" data-value="stopSelection-<%= city.value %>">
    <span aria-hidden="true" class="cities__icon">
        <span class="city-icon city-icon--<%= city.icon %>"></span>
    </span>
    <span class="cities__name"><%= city.name %></span>
</button>
