<button data-value="<%= stop.value %>" class="stop">
    <span class="stop__name">
        <span aria-hidden="true" class="stop__icon material-icons">schedule</span>
        <span class="stop__title"><%= stop.name %></span>
    </span>
    <span class="stop__direction">Kierunek: <%= stop.direction %></span>
</button>