<header class="page-header">
    <button id="mainBack" title="Powróć do strony głównej" aria-label="Powróć do strony głównej" class="page-header__button material-icons">arrow_back</button>
    <h1 class="page-header__title">Rozkład Jazdy</h1>
    <button id="infoBtn" title="Informacje o stronie" aria-label="Informacje o stronie" class="page-header__button page-header__button--active page-header__button--show material-icons">info</button>
</header>