<section class="fav-stops">
    <header class="fav-stops__header">
        <h2 class="fav-stops__title">Twoje ulubione przystanki</h2>
    </header>
    <div id="favStops" class="fav-stops__container">
        <!-- live content -->
    </div>
</section>