.cities {
    z-index: -10;
    display: flex;
    flex-wrap: wrap;

    margin: 2rem auto;
    max-width: 100rem;

    color: $text;

    &__city {
        z-index: 9999;
        position: relative;
        cursor: pointer;

        height: 4.5rem;
        min-width: 15rem;
        margin: 1rem;

        border: none;
        background: none;
        background-color: $secondary;

        @include mdShadow(2);
        transition: box-shadow 0.3s ease-in;

        &:focus,
        &:hover {
            @include mdShadow(3);
        }

    }

    &__icon {
        z-index: -5;
        display: block;
        position: absolute;
        pointer-events: none;
        top: 0.5rem;
        left: 0.5rem;
        
        span {
            display: block;
        }
    }

    &__name {
        display: block;

        z-index: -4;
        pointer-events: none;

        width: 100%;
        height: 100%;

        background-color: $secondaryDark;

        color: $text;
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        text-align: right;
    }

    
}