.fav-stops {
    @include mainWindow();
    
    &__header {
        @include sectionHeader();
    }

    &__title {
        @include sectionTitle();
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

        min-height: 14.5rem;

    }

}