.fav-stops {
    width: 100%;
    @include atSmall {
        width: 97.5%;
    }
    @include atLarge {
        width: 95%;
    }
    @include atExtraLarge {
        width: 90%;
    }

    margin: 1rem auto;

    @include mdShadow(2);
    
    &__header {
        @include sectionHeader();
    }

    &__title {
        @include sectionTitle();
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        min-height: 10rem;

    }

}