.message-box {
    display: none;
    position: absolute;
    top: 5%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.2s ease-in;

    background-color: red;

    &--active {
        display: block;
    }

    &--show {
        opacity: 1;
    }

}