.message-box {
    display: none;
    position: fixed;
    align-items: center;
    z-index: 9999;
    top: 2rem;
    right: 0;

    transform: translateX(50%);
    transition: transform 0.2s ease-in;

    height: 5rem;
    min-width: 12rem;

    background-color: $primaryLight;
    color: $text;
    font-size: 1.7rem;

    @include mdShadow(4);

    &--active {
        display: flex;
    }

    &--show {
        transform: translateX(0);
    }

}