.message-box {
    display: none;
    position: fixed;
    align-items: center;
    z-index: 9999;
    top: 2rem;
    right: 0;

    transform: translateX(50%);
    transition: transform 0.2s ease-in;

    height: 5rem;
    min-width: 12rem;

    background-color: $secondaryDark;
    color: $text;
    font-size: 2rem;

    @include mdShadow(4);

    &::before {
        z-index: -1;
        position:absolute;
        content: "";

        left: -15%;

        width: 5rem;
        height: 5rem;

         background-color: $secondaryDark;
         border-radius: 30%;

    }

    &--active {
        display: flex;
    }

    &--show {
        transform: translateX(0);
    }

}