.page-header {
    width: 100%;

    margin: 0;
    height: 4.5rem;
    padding: 1rem;

    background-color: $primaryDark;
    @include mdShadow(1);

    font-size: 1.9rem;
    color: $text;
    text-align: center;

    @include atSmall {
        text-align: left;
    }

    

}