.page-information {
    @include mainWindow();

    &__content {
        padding: 2rem;
    }

    &__text {
        margin: 1.5rem 0;
        font-size: 1.4rem;
    }

    &__link {
        text-decoration: none;

        color: $secondaryLight;

        &:hover,
        &:focus {
            color: $secondary;
        }
    }

    &__contact {
        text-align: center;

        @include atSmall {
            display: flex;
            justify-content: space-around;
        }
    }

    &__icon {
        vertical-align: middle;
    }

    &__description {
        vertical-align: middle;
    }

    &__header {
        @include sectionHeader();
    }

    &__title {
        @include sectionTitle();
    }
}