.page-header {
    width: 100%;
    display: flex;
    align-items: center;

    height: 5rem;
    padding: 1rem;

    background-color: $primaryDark;
    @include mdShadow(1);
    
    &__title {
        margin: 0;
        
        font-size: 2rem;
        color: $text;

        vertical-align: center;
    }

    &__refresh {
        display: block;
        cursor: pointer;

        background: none;
        border: none;

        font-size: 2.5rem;

        color: $text;

        transition: color 0.1s ease-in;
    }

    &__refresh:hover,
    &__refresh:focus {
        color: $secondary;
    }
}