.placeholder {
    text-align: center;

    &__title {
        display: block;

        margin: 2rem;
        
        color: $secondary;
        font-size: 1.7rem;
        font-weight: bold;

        @include atSmall() {
            font-size: 1.9rem;
        }
    }

    &__info {
        display: block;

        margin: 0.5rem;
        margin-bottom: 2rem;

        font-size: 1.1rem;

        @include atSmall() {
            display: flex;
            font-size: 1.3rem;
        }

    }

    &__icon {
        display: block;
        align-self: center;

        margin: 1rem;

        color: $secondary;

        @include atSmall() {
            margin: 0 0.5rem;
            font-size: 1.8rem;
        }

    }


}