.schedule {
    display: none;
    opacity: 0;
    transform: scale(0);

    margin: 1rem;

    @include mdShadow(2);

    &--active {
        display: block;
    }

    &--show {
        animation: loadSchedule 0.3s forwards;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        height: 3.5rem;

        color: $text;
        background-color: $primaryDark;
    }

    &__title {
        margin: 0rem;
        padding: 0.7rem;

        font-size: 1.7rem;
    }

    &__button-remove {
        @include button($text, $secondary);
        
    }

    &__table {
        max-width: calc(100% - 1rem);
        margin: 0.5rem auto;

        border-collapse: collapse;

    }

    &__table-headings {
        font-size: 1.5rem;
        color: $secondary;

        th {
            min-width: 6rem;
            padding: 0.5rem;

            background-color: $secondaryLight;
            color: $text;

            border: 0.1rem solid $secondaryLight;
            
        }
    }

    &__table-row {
        font-size: 1.4rem;
        text-align: center;
        

        td {
            min-width: 6rem;
            padding: 0.5rem;

            border: 0.1rem solid $secondaryLight;
           
        }

        td:first-child {
            font-size: 1.7rem;
            color: $secondaryLight;
            
        }
    }

}