.selection {
    margin: 1.5rem auto;
    overflow: hidden;

    width: 100%;
    @include atSmall {
        width: 97.5%;
    }
    @include atLarge {
        width: 95%;
    }
    @include atExtraLarge {
        width: 90%;
    }

    @include mdShadow(2);

    &__slider {
        position: relative;
        left: 0;
        right: 0;

        margin: 0;
        width: 400%;

        transition: transform 0.3s ease-in-out;
    }  

    &__slide {
        float: left;

        width: 25%;
        
    }

    &__schedule {
        display: none;
    }

    &__title {
        margin: 0.5rem;
        margin-left: 1rem;

        color: $secondaryDark;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;

        @include atSmall() {
            text-align: left;
        }
    }

    &__content {
        min-height: 1rem;
        padding: 0.5rem;
        margin: 1rem auto;

        width: 100%;
        @include atSmall {
            width: 97.5%;
            padding: 2rem;
        }
        
        @include focusable() {
            display: none;
        }


        &--active {
            @include focusable() {
                display: inherit;
            }

            .selection__schedule {
                display: block;
            }

        }
    }

    &__stops {
        display: none;

        &--active {
            display: block;
        }

    }
}