<section class="selection__slide">
    <div class="selection__content">
        <h3 class="selection__title">Wybrany przystanek</h3>
        <div class="selection__schedule">
            <div id="schedule">
                <!-- live content -->
            </div>
            <div class="fav-description">
                <header class="fav-description__header">
                    <h3 class="fav-description__title">Dodaj do go ulubionych</h3>
                    <button id="favBtn" title="Dodaj do ulubionych" aria-label="Dodaj do ulubionych" class="fav-description__button material-icons">favorite</button>
                </header>
                <div class="fav-description__content">
                    <p class="fav-description__text">Jeśli często wyszukujesz rozkład z tego przystanku dodaj go do ulubionych klikając w serce.</p>
                    <p class="fav-description__text">Będzie on dostępny od razu po każdym odwiedzeniu strony!</p>
                </div>
            </div>
        </div>
    </div>
</section>