/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../../assets/fonts/MaterialIcons-Regular.woff2) format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga'; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; }

*, *::after, *::before {
  box-sizing: inherit; }

.page-header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 1rem;
  background-color: #140078;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .page-header__title {
    margin: 0;
    font-size: 2rem;
    color: #ffffff;
    vertical-align: center; }
  .page-header__refresh {
    display: block;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2.5rem;
    color: #ffffff;
    transition: color 0.1s ease-in; }
  .page-header__refresh:hover, .page-header__refresh:focus {
    color: #d81b60; }

.selection {
  width: 97.5%;
  margin: 1rem auto;
  overflow: hidden;
  color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .selection__slider {
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
    width: 400%;
    transition: transform 0.35s ease-in-out; }
  .selection__slide {
    float: left;
    width: 25%; }
  .selection__header {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    margin: 0;
    background-color: #512da8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .selection__button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.1s ease-in;
    color: #ffffff; }
    .selection__button--back:hover, .selection__button--back:focus {
      color: #d81b60; }
    .selection__button--reset:hover, .selection__button--reset:focus {
      color: #d81b60; }
  .selection__title {
    margin: 0.5rem;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.8rem;
    color: #ffffff; }
  .selection__schedule {
    display: none; }
  .selection__content button {
    display: none; }
  .selection__content--active .selection__schedule {
    display: block; }
  .selection__content--active button {
    display: inherit; }
  .selection__stops {
    display: none; }
    .selection__stops--active {
      display: block; }

.message-box {
  display: none;
  position: absolute;
  top: 5%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  background-color: red; }
  .message-box--active {
    display: block; }
  .message-box--show {
    opacity: 1; }

.schedule {
  margin: 0.75rem;
  color: #ffffff; }
  .schedule__header {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    background-color: #512da8; }
  .schedule__title {
    margin: 0rem;
    padding: 0.7rem;
    font-size: 1.7rem; }
  .schedule__button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.7rem; }
    .schedule__button--remove {
      transition: color 0.1s ease-in; }
    .schedule__button--remove:focus, .schedule__button--remove:hover {
      color: #d81b60; }
  .schedule__table {
    margin: 0.5rem;
    border-collapse: collapse; }
  .schedule__headings {
    font-size: 1.5rem; }
    .schedule__headings th {
      min-width: 6rem;
      padding: 0.5rem;
      border-bottom: 0.1rem solid #512da8;
      border-right: 0.1rem solid #512da8; }
  .schedule__row {
    font-size: 1.4rem;
    text-align: center; }
    .schedule__row td {
      min-width: 6rem;
      padding: 0.5rem;
      border-bottom: 0.1rem solid #512da8;
      border-right: 0.1rem solid #512da8; }
    .schedule__row td:first-child {
      font-size: 1.6rem;
      background-color: #512da8; }

/* Do not edit modules/_sprite directly. It is generated by Gulp. Edit gulp/templates/sprite */
.city-icon {
  background-image: url("../../assets/images/sprites/sprite-d5633f6b.svg"); }

.city-icon--bielawa {
  width: 27.02px;
  height: 34px;
  background-position: 0 0; }

.city-icon--dzierzoniow {
  width: 28.67px;
  height: 34px;
  background-position: 31.665299425758818% 0; }

.city-icon--dzierzoniow-commune {
  width: 29.2px;
  height: 34px;
  background-position: 65.67216981132076% 0; }

.city-icon--niemcza {
  width: 28.86px;
  height: 34px;
  background-position: 0 50%; }

.city-icon--pieszyce {
  width: 29px;
  height: 34px;
  background-position: 33.95294117647059% 50%; }

.city-icon--pilawa-gorna {
  width: 28.92px;
  height: 34px;
  background-position: 99.77668077103903% 0; }

.city-icon--placeholder {
  width: 30.92px;
  height: 34px;
  background-position: 0 100%; }

.cities {
  z-index: -10;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  max-width: 100rem;
  color: #ffffff; }
  .cities__city {
    z-index: 9999;
    position: relative;
    cursor: pointer;
    height: 4.5rem;
    min-width: 15rem;
    margin: 1rem;
    border: none;
    background: none;
    background-color: #d81b60;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.3s ease-in; }
    .cities__city:focus, .cities__city:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .cities__icon {
    z-index: -5;
    display: block;
    position: absolute;
    pointer-events: none;
    top: 0.5rem;
    left: 0.5rem; }
    .cities__icon span {
      display: block; }
  .cities__name {
    display: block;
    z-index: -4;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: #a00037;
    color: #ffffff;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-align: right; }

.fav-stops {
  width: 97.5%;
  margin: 1rem auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .fav-stops__header {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    margin: 0;
    background-color: #512da8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .fav-stops__title {
    margin: 0.5rem;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.8rem;
    color: #ffffff; }
  .fav-stops__container {
    display: flex;
    flex-wrap: wrap; }

.page-footer {
  margin-bottom: 0; }
  .page-footer__content {
    padding: 1rem;
    margin: 0; }
  .page-footer__text {
    margin: 0.25rem;
    font-size: 1rem; }

.refresh {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  background-color: #d81b60;
  color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.3s ease-in; }
  .refresh:hover, .refresh:focus {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .refresh:hover .refresh__icon,
  .refresh:focus .refresh__icon {
    animation: rotate 0.6s forwards; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

.start-btn {
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  margin: 1.5rem auto;
  border: none;
  background: none;
  background-color: #d81b60;
  transition: box-shadow 0.3s ease-in;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #ffffff; }
  .start-btn:focus, .start-btn:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .start-btn__title {
    font-size: 1.7rem;
    vertical-align: middle; }
  .start-btn__icon {
    margin-left: 0.75rem;
    vertical-align: middle; }
