/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../../assets/fonts/MaterialIcons-Regular.woff2) format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga'; }

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  line-height: normal; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  height: 100%;
  background-color: #efefef; }

.main-wrapper {
  overflow: hidden; }

.main-slider {
  position: relative;
  left: 0;
  right: 0;
  margin: 0;
  width: 200%;
  transition: transform 0.3s ease-in-out; }
  .main-slider__slide {
    float: left;
    width: 50%; }
  .main-slider__content a[href]:not([tabindex='-1']),
  .main-slider__content area[href]:not([tabindex='-1']),
  .main-slider__content details:not([tabindex='-1']),
  .main-slider__content input:not([tabindex='-1']),
  .main-slider__content select:not([tabindex='-1']),
  .main-slider__content textarea:not([tabindex='-1']),
  .main-slider__content button:not([tabindex='-1']),
  .main-slider__content iframe:not([tabindex='-1']),
  .main-slider__content [tabindex]:not([tabindex='-1']),
  .main-slider__content [contentEditable=true]:not([tabindex='-1']) {
    visibility: hidden; }
  .main-slider__content--active a[href]:not([tabindex='-1']),
  .main-slider__content--active area[href]:not([tabindex='-1']),
  .main-slider__content--active details:not([tabindex='-1']),
  .main-slider__content--active input:not([tabindex='-1']),
  .main-slider__content--active select:not([tabindex='-1']),
  .main-slider__content--active textarea:not([tabindex='-1']),
  .main-slider__content--active button:not([tabindex='-1']),
  .main-slider__content--active iframe:not([tabindex='-1']),
  .main-slider__content--active [tabindex]:not([tabindex='-1']),
  .main-slider__content--active [contentEditable=true]:not([tabindex='-1']) {
    visibility: visible; }

.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  height: 4.5rem;
  padding: 1rem;
  background-color: #140078;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .page-header__title {
    position: absolute;
    z-index: 0;
    width: 100%;
    top: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 1.7rem;
    color: #ffffff;
    text-align: center; }
    @media (min-width: 576px) {
      .page-header__title {
        font-size: 1.9rem;
        top: 1rem; } }
  .page-header__button {
    display: none;
    z-index: 99;
    opacity: 0;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.15s ease-in;
    color: #ffffff;
    transition: opacity 0.3s ease-in; }
    .page-header__button:focus, .page-header__button:hover {
      color: #d81b60; }
    .page-header__button--active {
      display: block; }
    .page-header__button--show {
      opacity: 1; }

.page-information {
  width: 100%;
  max-width: 130rem;
  margin: 2rem auto;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  @media (min-width: 576px) {
    .page-information {
      width: 97.5%;
      margin-top: 3rem; } }
  @media (min-width: 992px) {
    .page-information {
      width: 95%;
      margin-top: 6rem; } }
  @media (min-width: 1200px) {
    .page-information {
      width: 90%; } }
  .page-information__content {
    padding: 2rem; }
  .page-information__text {
    font-size: 1.4rem; }
  .page-information__link {
    text-decoration: none;
    color: #ff5c8d; }
  .page-information__header {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    margin: 0;
    background-color: #512da8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .page-information__title {
    align-self: center;
    margin: 0.5rem;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: #ffffff; }

.stop {
  display: block;
  cursor: pointer;
  flex: 1;
  padding: 0;
  margin: 0.25rem;
  min-width: 15rem;
  border: none;
  background: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.3s ease-in; }
  .stop--single {
    flex: 0 1 auto; }
  @media (min-width: 576px) {
    .stop {
      margin: 1rem;
      min-width: 20rem; } }
  .stop:focus, .stop:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .stop__name {
    position: relative;
    display: flex;
    align-items: center;
    pointer-events: none;
    height: 5rem;
    background-color: #8559da;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem; }
    @media (min-width: 576px) {
      .stop__name {
        font-size: 1.8rem;
        letter-spacing: 0.1rem; } }
  .stop__icon {
    display: block;
    margin: 0;
    margin-left: 0.4rem;
    color: #ff5c8d; }
    .stop__icon::after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      margin: 0 0.4rem;
      border-right: 0.1rem solid #512da8; }
  .stop__title {
    display: block;
    margin: 0;
    margin-left: 0.6rem;
    padding: 0.4rem; }
  .stop__direction {
    display: block;
    pointer-events: none;
    padding: 0.2rem;
    background-color: #512da8;
    color: #ffffff;
    font-size: 1.2rem; }
    @media (min-width: 576px) {
      .stop__direction {
        font-size: 1.4rem; } }

.stops {
  display: none;
  margin-top: 0.25rem; }
  .stops--active {
    display: block; }
  .stops__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .stops__header {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #d81b60; }
    @media (min-width: 576px) {
      .stops__header {
        margin: 0 1rem;
        margin-top: 1rem; } }
  .stops__icon {
    display: block; }
  .stops__title {
    display: block;
    margin: 0;
    margin-left: 0.8rem;
    color: #ffffff;
    font-size: 2rem; }

.selection {
  overflow: hidden;
  width: 100%;
  max-width: 130rem;
  margin: 2rem auto;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  @media (min-width: 576px) {
    .selection {
      width: 97.5%;
      margin-top: 3rem; } }
  @media (min-width: 992px) {
    .selection {
      width: 95%;
      margin-top: 6rem; } }
  @media (min-width: 1200px) {
    .selection {
      width: 90%; } }
  .selection__slider {
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
    width: 400%;
    transition: transform 0.3s ease-in-out; }
  .selection__slide {
    float: left;
    width: 25%; }
  .selection__title {
    margin: 0.5rem;
    margin-left: 1rem;
    color: #a00037;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center; }
    @media (min-width: 576px) {
      .selection__title {
        text-align: left;
        font-size: 2.5rem; } }
  .selection__schedule {
    display: none;
    justify-content: space-between;
    align-items: flex-start; }
  .selection__content {
    min-height: 1rem;
    padding: 0.5rem;
    margin: 1rem auto;
    width: 100%; }
    @media (min-width: 576px) {
      .selection__content {
        width: 97.5%;
        padding: 2rem; } }
    .selection__content a[href]:not([tabindex='-1']),
    .selection__content area[href]:not([tabindex='-1']),
    .selection__content details:not([tabindex='-1']),
    .selection__content input:not([tabindex='-1']),
    .selection__content select:not([tabindex='-1']),
    .selection__content textarea:not([tabindex='-1']),
    .selection__content button:not([tabindex='-1']),
    .selection__content iframe:not([tabindex='-1']),
    .selection__content [tabindex]:not([tabindex='-1']),
    .selection__content [contentEditable=true]:not([tabindex='-1']) {
      display: none; }
    .selection__content--active a[href]:not([tabindex='-1']),
    .selection__content--active area[href]:not([tabindex='-1']),
    .selection__content--active details:not([tabindex='-1']),
    .selection__content--active input:not([tabindex='-1']),
    .selection__content--active select:not([tabindex='-1']),
    .selection__content--active textarea:not([tabindex='-1']),
    .selection__content--active button:not([tabindex='-1']),
    .selection__content--active iframe:not([tabindex='-1']),
    .selection__content--active [tabindex]:not([tabindex='-1']),
    .selection__content--active [contentEditable=true]:not([tabindex='-1']) {
      display: block; }
    .selection__content--active .selection__schedule {
      display: block; }
      .selection__content--active .selection__schedule .schedule__table {
        width: 100%; }
      .selection__content--active .selection__schedule .schedule__table-row {
        font-size: 1.6rem; }

.fav-description {
  flex: 1;
  margin: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .fav-description__content {
    padding: 1rem; }
  .fav-description__header {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    color: #ffffff;
    background-color: #140078; }
  .fav-description__title {
    margin: 0rem;
    padding: 0.7rem;
    font-size: 1.7rem; }
  .fav-description__button {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.15s ease-in;
    color: #d81b60; }
    .fav-description__button:focus, .fav-description__button:hover {
      color: #ff5c8d; }
  .fav-description__text {
    margin: 1rem;
    font-size: 1.4rem; }

.slider-navigation {
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  margin: 0;
  background-color: #512da8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .slider-navigation__title {
    align-self: center;
    margin: 0.5rem;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: #ffffff; }
  .slider-navigation__button {
    display: none;
    opacity: 0;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.15s ease-in;
    color: #ffffff;
    transition: opacity 0.3s ease-in; }
    .slider-navigation__button:focus, .slider-navigation__button:hover {
      color: #d81b60; }
    .slider-navigation__button--active {
      display: block; }
    .slider-navigation__button--show {
      opacity: 1; }

.message-box {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  top: 1rem;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  height: 5rem;
  padding: 2rem;
  background-color: #8559da;
  color: #ffffff;
  font-size: 1.5rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem; }
  @media (min-width: 768px) {
    .message-box {
      font-size: 1.7rem; } }
  .message-box__icon {
    display: block;
    padding-right: 1.5rem; }
  .message-box__text {
    display: block;
    margin: 0;
    text-align: center; }
  .message-box--active {
    display: flex; }
  .message-box--show {
    transform: translateX(0); }

.schedule {
  display: none;
  opacity: 0;
  transform: scale(0);
  margin: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .schedule--active {
    display: block; }
  .schedule--show {
    animation: loadSchedule 0.3s forwards; }
  .schedule__header {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    color: #ffffff;
    background-color: #140078; }
  .schedule__title {
    margin: 0rem;
    padding: 0.7rem;
    font-size: 1.7rem; }
  .schedule__button-remove {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.15s ease-in;
    color: #ffffff; }
    .schedule__button-remove:focus, .schedule__button-remove:hover {
      color: #d81b60; }
  .schedule__table {
    max-width: calc(100% - 1rem);
    margin: 0.5rem auto;
    border-collapse: collapse; }
  .schedule__table-headings {
    font-size: 1.5rem;
    color: #d81b60; }
    .schedule__table-headings th {
      min-width: 6rem;
      padding: 0.5rem;
      background-color: #ff5c8d;
      color: #ffffff;
      border: 0.1rem solid #ff5c8d; }
  .schedule__table-row {
    font-size: 1.4rem;
    text-align: center; }
    .schedule__table-row td {
      min-width: 6rem;
      padding: 0.5rem;
      border: 0.1rem solid #ff5c8d; }
    .schedule__table-row td:first-child {
      font-size: 1.7rem;
      color: #ff5c8d; }

@keyframes loadSchedule {
  0% {
    opacity: 0;
    transform: scale(0); }
  50% {
    opacity: 0.4; }
  100% {
    opacity: 1;
    transform: scale(1); } }

/* Do not edit modules/_sprite directly. It is generated by Gulp. Edit gulp/templates/sprite */
.city-icon {
  background-image: url("../../assets/images/sprites/sprite-d5633f6b.svg"); }

.city-icon--bielawa {
  width: 27.02px;
  height: 34px;
  background-position: 0 0; }

.city-icon--dzierzoniow {
  width: 28.67px;
  height: 34px;
  background-position: 31.665299425758818% 0; }

.city-icon--dzierzoniow-commune {
  width: 29.2px;
  height: 34px;
  background-position: 65.67216981132076% 0; }

.city-icon--niemcza {
  width: 28.86px;
  height: 34px;
  background-position: 0 50%; }

.city-icon--pieszyce {
  width: 29px;
  height: 34px;
  background-position: 33.95294117647059% 50%; }

.city-icon--pilawa-gorna {
  width: 28.92px;
  height: 34px;
  background-position: 99.77668077103903% 0; }

.city-icon--placeholder {
  width: 30.92px;
  height: 34px;
  background-position: 0 100%; }

.cities {
  z-index: -10;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #ffffff; }
  .cities__city {
    z-index: 9999;
    position: relative;
    flex: 1;
    cursor: pointer;
    height: 5rem;
    min-width: 15rem;
    margin: 0.25rem;
    border: none;
    background: none;
    background-color: #d81b60;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.3s ease-in; }
    @media (min-width: 576px) {
      .cities__city {
        margin: 1rem; } }
    .cities__city:focus, .cities__city:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .cities__icon {
    z-index: -5;
    display: block;
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%); }
    .cities__icon span {
      display: block; }
  .cities__name {
    display: inline-block;
    z-index: -4;
    pointer-events: none;
    margin-left: 1.9rem;
    color: #ffffff;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-shadow: -1px -1px 5px #a00037; }
    @media (min-width: 576px) {
      .cities__name {
        font-size: 1.8rem; } }

.fav-stops {
  width: 100%;
  max-width: 130rem;
  margin: 2rem auto;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  @media (min-width: 576px) {
    .fav-stops {
      width: 97.5%;
      margin-top: 3rem; } }
  @media (min-width: 992px) {
    .fav-stops {
      width: 95%;
      margin-top: 6rem; } }
  @media (min-width: 1200px) {
    .fav-stops {
      width: 90%; } }
  .fav-stops__header {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    margin: 0;
    background-color: #512da8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .fav-stops__title {
    align-self: center;
    margin: 0.5rem;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: #ffffff; }
  .fav-stops__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 14.5rem; }

.refresh {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  background-color: #ff5c8d;
  color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.3s ease-in; }
  @media (min-width: 576px) {
    .refresh {
      bottom: 2rem;
      right: 2rem; } }
  .refresh:hover, .refresh:focus {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .refresh:hover .refresh__icon,
  .refresh:focus .refresh__icon {
    animation: rotate 0.6s forwards; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

.start-btn {
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  margin: 1.5rem auto;
  border: none;
  background: none;
  background-color: #d81b60;
  transition: box-shadow 0.3s ease-in;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #ffffff; }
  .start-btn:focus, .start-btn:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .start-btn__title {
    font-size: 1.7rem;
    vertical-align: middle; }
  .start-btn__icon {
    margin-left: 0.75rem;
    vertical-align: middle; }

.placeholder {
  text-align: center;
  margin-top: 2rem; }
  .placeholder__title {
    display: block;
    margin: 2rem;
    color: #d81b60;
    font-size: 1.7rem;
    font-weight: bold; }
    @media (min-width: 576px) {
      .placeholder__title {
        font-size: 1.9rem; } }
  .placeholder__info {
    display: block;
    margin: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.1rem; }
    @media (min-width: 576px) {
      .placeholder__info {
        display: flex;
        font-size: 1.3rem; } }
  .placeholder__icon {
    display: block;
    align-self: center;
    margin: 1rem;
    color: #d81b60; }
    @media (min-width: 576px) {
      .placeholder__icon {
        margin: 0 0.5rem;
        font-size: 1.8rem; } }
