
//obtained from http://codepen.io/allusis/pen/bdVjbj
@mixin mdShadow($level: 1) {
  @if $level == 1 {box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);} 
  @else if $level == 2 {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
  @else if $level == 3 {box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
  @else if $level == 4 {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
  @else if $level == 5 {box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
}

//select all focusable elements
@mixin focusable() {
    a[href],
    area[href],
    details,
    input,
    select,
    textarea,
    button,
    iframe,
    [tabindex],
    [contentEditable=true]
    {
        &:not([tabindex='-1'])
        {
            @content;
        }
    }
}

@mixin sectionHeader() {
    display: flex;
    justify-content: space-between;

    height: 3.5rem;
    margin: 0;

    background-color: $primary;
    @include mdShadow(1);
}

@mixin sectionTitle() {
    align-self: center;

    margin: 0.5rem;
    width: 100%;

    text-align: center;
    font-size: 1.7rem;
    color: $text;
}

@mixin button($from, $to) {
    background: none;
    border: none;
    cursor: pointer;

    transition: color 0.15s ease-in;
    color: $from;
    
    &:focus,
    &:hover {
        color: $to;
    }
}

@mixin mainWindow() {
    width: 100%;
    max-width: 130rem;

    margin: 2rem auto;

    background-color: $materialColor;

    @include mdShadow(2);

    @include atSmall() {
        width: 97.5%;
        margin-top: 3rem;
    }
    @include atLarge() {
        width: 95%;
        margin-top: 6rem;
    }
    @include atExtraLarge() {
        width: 90%;
       
    }
}

//media queries
@mixin atSmall() {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin atMedium() {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin atLarge() {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin atExtraLarge() {
    @media (min-width: 1200px) {
        @content;
    }
}