<section class="page-information">
    <header class="page-information__header">
        <h2 class="page-information__title">O aplikacji</h2>
    </header>
    <div class="page-information__content">
        <p class="page-information__text">Aplikacja powstała do celów własnych i ma za zadanie ułatwić korzystanie z rozkładów jazdy przygotowanych przez ZKM Bielawa. Korzysta ona z informacji publicznie udostępnianych przez ZKM Bielawa aktualizowanych na bieżąco na <a class="page-information__link" href="http://bielawa.trapeze.fi">tej stronie.</a></p>
        <p class="page-information__text">Autor nie uzyskuje żadnych korzyści materialnych związanych z działalnością witryny i nie ponosi odpowiedzialności za informacje zawarte w rozkładach.</p>
        <p class="page-information__text">Przystanki dodane do ulubionych są zapisywane lokalnie w pamięci przeglądarki danego urządzenia aż do jej wyczyszczenia - ręcznego lub automatycznego.</p>
    </div>
</section>
<section class="page-information">
    <header class="page-information__header">
        <h2 class="page-information__title">Chcesz wiedzieć więcej?</h2>
    </header>
    <div class="page-information__content page-information__contact">
        <div class="page-information__text">
            <a href="mailto:pesiok@gmail.com?subject=Rozkłady%20Jazdy&amp;body=Dzięki%20za%20wizytę%20na%20stronie!%20Opisz%20swój%20problem%20lub%20napisz%20o%20czym%20chcesz%20się%20dowiedzieć%20więcej." class="page-information__link">
                <span aria-hidden="true" class="page-information__icon material-icons">email</span>
                <span class="page-information__description">Napisz do mnie</span>
            </a>
        </div>
        <div class="page-information__text">
            <a href="https://github.com/Pesiok/busschedules" class="page-information__link">
                <span aria-hidden="true" class="page-information__icon material-icons">code</span>
                <span class="page-information__description">Zobacz kod projektu</span>
            </a>
        </div>
    </div>
</section>