<div class="main-slider">
    <div class="main-slider__slide">
        <div class="main-slider__content main-slider__content--active">
            <%- include('../selectionSlider/slider') -%>
            <%- include('../favStops') -%>
        </div>
    </div>
    <div class="main-slider__slide">
        <div class="main-slider__content">
            <%- include('pageInformation') -%>
        </div>
    </div>
</div>