<header class="slider-navigation">
    <button id="navBack" title="Cofnij" aria-label="Cofnij" class="slider-navigation__button material-icons">arrow_back</button>
    <h2 class="slider-navigation__title">Znajdź przystanek</h2>
    <button id="navReset" title="Zamknij" aria-label="Zamknij" class="slider-navigation__button material-icons">close</button>
</header>