<div id="startSelection" class="selection__slide">
    <div class="selection__content selection__content--active">
        <button id="startSelectionBtn" class="start-btn">
            <span class="start-btn__title">Kliknij by znaleźć przystanek</span>
            <span class="start-btn__icon material-icons">assignment</span>
        </button>
    </div>
</div>