.fav-description {
    flex: 1;

    margin: 1rem;

    @include mdShadow(2);

    &__content {
        padding: 1rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        
        height: 3.5rem;

        color: $text;
        background-color: $primaryDark;
    }

    &__title {
        margin: 0rem;
        padding: 0.7rem;

        font-size: 1.7rem;
    }

    &__button {
        @include button($secondary, $secondaryLight);
        
    }

    &__text {
        margin: 1rem;
        font-size: 1.4rem;

    }
}