.selection {
    overflow: hidden;

    @include mainWindow();


    &__slider {
        position: relative;
        left: 0;
        right: 0;

        margin: 0;
        width: 400%;

        transition: transform 0.3s ease-in-out;
    }  

    &__slide {
        float: left;

        width: 25%;
        
    }

    &__title {
        margin: 0.5rem;
        margin-left: 1rem;

        color: $secondaryDark;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;

        @include atSmall() {
            text-align: left;
            font-size: 2.5rem;
        }
    }

    &__schedule {
        display: none;
        
        justify-content: space-between;
        align-items: flex-start;

    }

    &__content {
        min-height: 1rem;
        padding: 0.5rem;
        margin: 1rem auto;

        width: 100%;
        @include atSmall {
            width: 97.5%;
            padding: 2rem;
        }
        
        @include focusable() {
            display: none;
        }


        &--active {
            @include focusable() {
                display: block;
            }

            .selection__schedule {
                display: block;

                .schedule__table {
                    width: 100%;
                }

                .schedule__table-row {
                    font-size: 1.6rem;
                }

                

            }

        }
    }

}