$primary: #512da8;
$primaryLight: #8559da;
$primaryDark: #140078;

$secondary: #d81b60;
$transparentSecondary: rgba(217, 27, 96, 0.2);
$secondaryLight: #ff5c8d;
$secondaryDark: #a00037;

$text: #ffffff; 

$materialColor: #ffffff;
$materialBackground: #efefef;